.Titulo {
  font-family: "Helvetica Neue";
  color:darkblue;
  background-color: Orange;
}

#h1 {
  color:gray;
}
.img1 {
  height: 95px;
  border: solid 4px black;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  background-color: black;
  margin-right: 10px;
}
.img2 {
  padding: 5px 5px 5px 5px;
  border-radius: 100px 0 0 0;
  height: 100px;
  width: 100px;
  border: solid 3px gray;
  background-color: lightyellow;
  margin-left: 10px;
}
.Borda {
  border-radius: 100px;
  border: solid 8px DarkOrange;
}