body {
  border: solid 3px darkblue;
  background-color: lightcyan;
  border-radius: 105px 50px 105px 50px;
}
h1 {
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  display: block;
  text-align: center;
  margin-top: 10px;
}
